[package]
name = "ipp"
version = "3.0.1"
authors = ["Dmitry Pankratov <dmitry@pankratov.net>"]
description = "Asynchronous IPP print protocol implementation"
license = "MIT/Apache-2.0"
repository = "https://github.com/ancwrd1/ipp.rs"
documentation = "https://docs.rs/ipp"
readme = "README.md"
keywords = ["ipp", "print", "cups", "printing", "protocol"]
edition = "2018"

[lib]
name = "ipp"

[dependencies]
enum-as-inner = "0.4"
enum-primitive-derive = "0.2"
futures-executor = { version = "0.3", optional = true }
log = "0.4"
num-traits = "0.2"
bytes = "1"
thiserror = "1"
http = "0.2"

[dependencies.futures-util]
version = "0.3"
optional = true
default-features = false
features = ["io"]

[dependencies.reqwest]
version = "0.11"
optional = true
default-features = false
features = ["stream"]

[dependencies.tokio-util]
version = "0.7"
optional = true
features = ["io", "compat"]

[dev-dependencies]
env_logger = "0.9"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }

[features]
default = ["client", "tls"]
client = ["async", "reqwest", "tokio-util"]
async = ["futures-util", "futures-executor"]
tls = ["reqwest/native-tls"]
